KpTextView {
  transition: filter 200ms;
}

KpTextView.unfocused {
  filter: blur(3px);
}

KpTextView label {
  font-size: 1.6rem;
  line-height: 45px;
  font-variant-ligatures: none;
}

KpResultsView .key-number {
  font-size: 3.5rem;
  font-weight: 700;
}

.flat-dropdown button:not(:checked):not(:hover) {
  background: transparent;
  box-shadow: none;
}

.header-bar-running .start,
.header-bar-running .end,
.header-bar-running.hide-controls:focus-within .start,
.header-bar-running.hide-controls:focus-within .end {
  opacity: 1;
  transition: opacity 200ms;
}

.header-bar-running.hide-controls .start,
.header-bar-running.hide-controls .end {
  opacity: 0;
}

.custom-text-view {
  padding: 12px;
  color: @card_fg_color;
  background: @card_bg_color;
}

.toolbar-thick {
  padding: 12px;
}
