KpTextView {
  transition: filter 200ms;
}

KpTextView.unfocused {
  filter: blur(3px);
}

KpTextView > textview {
  font-size: 1.5rem;
  line-height: 50px; /* This needs to mirror the value in `src/widgets/text_view.rs` */
  background: none;
  font-variant-ligatures: none;
}

KpResultsView .key-number {
  font-size: 3.5rem;
  font-weight: 700;
}

headerbar .start,
headerbar .end,
window.hide-controls headerbar.test:focus-within .start,
window.hide-controls headerbar.test:focus-within .end {
  opacity: 1;
  transition: opacity 200ms;
}

window.hide-controls headerbar.test .start,
window.hide-controls headerbar.test .end {
  opacity: 0;
}

.card-text-view {
  padding: 12px;
  color: var(--card-fg-color);
  background: var(--card-bg-color);
}

.toolbar-thick {
  padding: 12px;
}

.status-icon {
  -gtk-icon-size: 96px;
}

.pill-entry {
  border-radius: 9999px;
}

