KpTextView {
  transition: filter 200ms;
}

KpTextView.unfocused {
  filter: blur(3px);
}

KpTextView > textview {
  font-size: 1.5rem;
  line-height: 50px; /* This needs to mirror the value in `src/widgets/text_view.rs` */
  background: none;
  font-variant-ligatures: none;
}

.key-number {
  font-size: 3.2rem;
  font-weight: 700;
}

headerbar .start,
headerbar .end,
window.hide-controls headerbar.session:focus-within .start,
window.hide-controls headerbar.session:focus-within .end {
  opacity: 1;
  transition: opacity 200ms;
}

window.hide-controls headerbar.session .start,
window.hide-controls headerbar.session .end {
  opacity: 0;
}

.card-text-view {
  padding: 12px;
  color: var(--card-fg-color);
  background: var(--card-bg-color);
}

.toolbar-thick {
  padding: 12px;
}

.status-icon {
  -gtk-icon-size: 96px;
}

.pill-entry {
  border-radius: 9999px;
}

.group-header {
  padding: 6px 0px;
}

.wpm-legend {
  border-bottom: 2px solid var(--accent-bg-color);
}

.accuracy-legend {
  border-bottom: 2px dashed currentColor;
  opacity: calc(var(--dim-opacity) - 0.2);
}

.line-chart-dot {
  border-radius: 50%;
  background-color: var(--accent-bg-color);
  transition: transform 200ms;
}

.line-chart-button > button {
  background: transparent;
  padding: 0px;
}

.line-chart-button > button:hover .line-chart-dot,
.line-chart-button > button:checked .line-chart-dot {
  transform: scale(2);
}

.line-chart-button {
  --popover-bg-color: var(--accent-bg-color);
  --popover-fg-color: var(--light-1);
}
