RcwTextView label {
  font-size: 1.6rem;
  line-height: 45px;
  font-variant-ligatures: none;
}

.flat-dropdown button:not(:checked):not(:hover) {
  background: transparent;
}

.header-bar-running .start,
.header-bar-running .end {
  opacity: 0;
  transition: opacity 200ms;
}

window:hover .header-bar-running .start,
window:hover .header-bar-running .end,
.header-bar-running:focus-within .start,
.header-bar-running:focus-within .end {
  opacity: 1;
}
